---
name: Working with artifacts

on:
  push:
    branches:
      - play-with-artifacts
    
jobs:
  generate_file:
    
    runs-on: ubuntu-latest

    steps:
      - name: Create file
        run: echo 'hello world' > file1.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: hello_world_file
          path: file1.txt
          retention-days: 1

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: hello_world_file

      - name: Test artifact
        run: |
          ls -alrth
          cat file1.txt

  use_artifacts_from_other_job:
    needs: generate_file
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: hello_world_file

      - name: Test artifact
        run: |
          ls -alrth
          cat file1.txt

  test_cache:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache .github
        id: cache-github
        uses: actions/cache@v3
        with:
          path: ./.github
          key: my_github_cache
          restore-keys: |
            my_github_
            my_

      - if: true
        name: Is cache hit
        continue-on-error: true
        run: |
          echo ${{ steps.cache-github.outputs.cache-hit }}
          ls -alrth
