name: Regression project

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x' 
        
    - name: Install Requirements
      run: pip install -r requirements.txt

    - name: Check Pytest
      run: pytest ./swagger_server/libs/test_regression_project.py

   
