name: Regression project

on:
  push:
    branches:
      - master
env:
 PROJECT_ID: ${{secrets.RUN_PROJECT}}
 GAR_LOCATION: us-central1
 SERVICE: smitbackend
 REGION: us-central1
 DOCKER_USER: '${{secrets.DOCKER_USERNAME}}'
 DOCKER_PASSWORD: '${{secrets.DOCKER_PASSWORD}}'
 GH_TOKEN: '${{secrets.GH_TOKEN}}'
jobs:
  build-and-deploy:

    permissions:
     contents: 'read'
     id-token: 'write'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Create Branch
      run: |
          echo "$RUNNER_ID$GITHUB_RUN_ID"
          NEW_BRANCH="$RUNNER_ID-GITHUB_RUN_ID"
          curl -X POST -H "Authorization: token $GH_TOKEN" -d '{"ref": "refs/heads/'"$NEW_BRANCH"'", "sha": "main"}' "https://api.github.com/repos/${{ github.repository }}/git/refs"
          git checkout -b $NEW_BRANCH
          git add README.md
          git commit -m "new brnahc created within github action workflow"
          git push origin $NEW_BRANCH
          

    
         
        

  #   - name: Set up Python
  #     uses: actions/setup-python@v2
  #     with:
  #       python-version: '3.x' 

  #   - name: Google Auth
  #     id: auth
  #     uses: 'google-github-actions/auth@v0'
  #     with:
  #       credentials_json: '${{secrets.GCP_CREDENTIALS}}'
        
  #   - name: Install Requirements
  #     run: pip install -r requirements.txt

    

  # # We looked in to market place for this step and we found most of them will be duplicated steps so we checked there step and we used only one step from their defined actions
  #   - name: Check Pytest
  #     run: pytest ./swagger_server/libs/test_regression_project.py --cov=./ --cov-report=xml --cov-report=html --doctest-modules --junitxml=junit/test-results.xml

    


  #   - name: Docker Auth
  #     id: docker-auth
  #     uses: 'docker/login-action@v1'
  #     with:
  #       username: '${{secrets.DOCKER_USERNAME}}'
  #       password: '${{secrets.DOCKER_PASSWORD}}'

  #   - name: Docker Login
  #     run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

  #   - name: Build Docker Image
  #     run: docker build -t apinyarr/devops-doct-cicd-ica1:v0.1 .

    
  #   - name: List images
  #     run: docker images

  #   - name: Docker Push
  #     run: docker push apinyarr/devops-doct-cicd-ica1:v0.1

  #   - name: Deploy to Google Cloud Run
  #     id: deploy
  #     uses: google-github-actions/deploy-cloudrun@v0
  #     with: 
  #       service: ${{env.SERVICE}}
  #       region: ${{env.REGION}}
  #       image: apinyarr/devops-doct-cicd-ica1:v0.1

  #   - name: Show output
  #     run: echo ${{steps.deploy.outputs.url }}
    

   
